header {
  width: 100%;
  height: 50px;
  background-color: #050817;
}
.terms-and-official {
  display: flex;
  justify-content: center;
}
.terms-and-official-link {
  position: relative;
  display: block;
  padding: 16px 0;
  img {
    display: block;
  }
  .active {
    position: absolute;
    top: 16px;
    opacity: 0;
    transition: 0.5s;
  }
}
.terms-and-official-link:hover .active {
  opacity: 1;
}
.terms {
  margin-right: 120px;
}