#top {
  section.heading {
    background: no-repeat top image-url('web_pc/header_bg');
    text-align: center;
    margin-bottom: 24px;
  }
  section.post-actions {
    display: flex;
    justify-content: center;
    background-image: image-url('web_pc/pat01');
    color: white;
    font-size: 24px;
    padding-bottom: 24.5px;
    p {
      line-height: 24px;
      margin-bottom: 15px;
    }
  }
  .tsukutte-action, .tsukuru-action {
    display: flex;
    img {
      object-fit: contain;
      margin-right: 10px;
    }
  }
  .tsukutte-action {
    margin-right: 65.7px;
    .icon {
      margin-top: 26px;
    }
  }
  .tsukuru-action .icon {
    margin-top: 79px;
  }
  .tsukutte-button, .tsukuru-button {
    position: relative;
    bottom: -10px;
    text-align: center;
    margin-top: 66px;
  }
  section.notification {
    background-image: image-url('web_pc/pat02');
    text-align: center;
    padding: 47px 0;
  }
  .notification-container {
    display: inline-block;
    div {
      display: flex;
    }
    img {
      object-fit: none;
    }
  }
  .twitter-container {
    position: relative;
    background-color: #0D004D;
    border-radius: 24px;
    border: solid 8px #FFB300;
    padding: 28px 92px;
  }
  .twitter-inner iframe {
    width: 600px !important;
    height: 340px !important;
  }
  .pin-left-top {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .pin-right-top {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .pin-left-bottom {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .pin-right-bottom {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}